name: mineos-node
services:
  mineos:
    image: hexparrot/mineos:latest
    container_name: mineos_server
    networks:
      - mineos
    restart: unless-stopped
    stop_grace_period: 10m
    volumes:
      - /var/games/mineos/minecraft:/var/games/minecraft
    environment:
      USE_HTTPS: "true"
      SERVER_PORT: 8443
      USER_NAME: mc
      USER_UID: 1000
      USER_PASSWORD: root
    ports:
      - 8444:8443/tcp
      - 25565-25570:25565-25570/tcp
      - 25565-25570:25565-25570/udp
    x-casaos:
      envs:
        - container: USE_HTTPS
          description:
            en_us: Should the web interface use HTTPS or HTTP? Valid entries are "true" and "false" (with quotes)
        - container: SERVER_PORT
          description:
            en_us: What port should the web interface listen on? This is independent of the USE_HTTPS setting.
        - container: USER_NAME
          description:
            en_us: On startup, mineos will check if an account of the name "mc" exists. If it does not exist, one will be created. This account, and any other created with this variable will be permitted to login to the web interface.
        - container: USER_UID
          description:
            en_us: If the "mc" account does not already exist, when mineos creates it, it will do so with UID same as the value of the variable. If an account with this UID already exists, account creation will be aborted.
        - container: USER_PASSWORD
          description:
            en_us: If the "mc" account is being created, it will use the default password "root" (without quotes). It is recommended to change this to something more secure.
      ports:
        - container: "8443"
          description:
            en_us: WebUI HTTP Port
          protocol: tcp
        - container: "25565"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25566"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25567"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25568"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25569"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25570"
          description:
            en_us: Minecraft listening Port (TCP)
          protocol: tcp
        - container: "25565"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
        - container: "25566"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
        - container: "25567"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
        - container: "25568"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
        - container: "25569"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
        - container: "25570"
          description:
            en_us: Minecraft listening Port (UDP)
          protocol: udp
      volumes:
        - container: /var/games/minecraft
          description:
            en_us: MineOS directory.
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: mineos
  author: Mypancho.com
  category: Games
  description:
    en_us: MineOS is a server front-end to ease managing Minecraft administrative tasks. This iteration using Node.js aims to enhance previous MineOS scripts (Python-based), by leveraging the event-triggering, asyncronous model of Node.JS and websockets.
  developer: hexparrot
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/MineOS/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/MineOS/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/MineOS/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/MineOS/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/MineOS/thumbnail.png
  tagline:
    en_us: Free and easy to use Minecraft server management tool.
  tips:
    before_install:
      en_us: |
        Default Account

        | Username | Password |
        |----------|----------|
        | `mc`    | `root` |
  title:
    en_us: MineOS
  index: /admin/index.html
  scheme: https
  port_map: "8444"
volumes:
  mineos_data: null
networks:
  mineos: null
