name: stirling-pdf
services:
  app:
    image: frooodle/s-pdf:0.14.2
    restart: unless-stopped
    environment:
      APP_HOME_NAME: Stirling PDF
      LANG: en_US.UTF-8
      LANGUAGE: en_US:en
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: Stirling-PDF is a locally hosted web application that allows you to perform various operations on PDF files, such as splitting and adding images.
  tagline:
    en_us: Local web app enabling diverse operations on PDF files.
  developer: Frooodle
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/stirling-pdf/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/stirling-pdf/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/stirling-pdf/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/stirling-pdf/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/stirling-pdf/thumbnail.png
  title:
    en_us: Stirling PDF
  category: Utility
  port_map: '8080'
