name: adminer
services:
  adminer:
    image: adminer:4.8.1
    deploy:
      resources:
        reservations:
          memory: 32M
    restart: unless-stopped
    ports:
      - "8080:8080"
    x-casaos:
      ports:
        - container: "8080"
          description:
            en_us: Adminer HTTP Port
            zh_cn: Adminer HTTP 端口
    container_name: adminer
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: adminer
  author: Mypancho.com
  category: Database
  description:
    en_us: Adminer (formerly phpMinAdmin) is a full-featured database management tool written in PHP. Conversely to phpMyAdmin, it consist of a single file ready to deploy to the target server. Adminer is available for MySQL, PostgreSQL, SQLite, MS SQL, Oracle, Firebird, SimpleDB, Elasticsearch and MongoDB.
  developer: Jakub Vrána
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Adminer/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Adminer/screenshot-1.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Adminer/screenshot-2.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Adminer/screenshot-3.PNG
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Adminer/thumbnail.PNG
  tagline:
    en_us: Database management in a single PHP file
  title:
    en_us: Adminer
  port_map: "8080"
