name: changedetection

services:
  browserless-chrome:
    container_name: browserless-chrome
    hostname: browserless-chrome
    environment:
      - CHROME_REFRESH_TIME=1200000
      - CONNECTION_TIMEOUT=450000
      - DEFAULT_STEALTH=true
      - ENABLE_DEBUGGER=true
      - MAX_CONCURRENT_SESSIONS=4
      - PREBOOT_CHROME=true
      - SCREEN_DEPTH=16
      - SCREEN_HEIGHT=820
      - SCREEN_WIDTH=375
    image: browserless/chrome
    restart: unless-stopped
    networks:
      - changedetection
    privileged: false

  app:
    environment:
      - BASE_URL=https://google.com
      - HIDE_REFERER=false
      - PLAYWRIGHT_DRIVER_URL=ws://browserless-chrome:3000/?stealth
      - USE_X_SETTINGS=1
      - WEBDRIVER_URL=http://browserless-chrome:4444/wd/hub
    image: ghcr.io/dgtlmoon/changedetection.io:dev
    ports:
      - target: 5000
        published: ${WEBUI_PORT:-5000}
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/Panchocloud/$AppID/data
        target: /datastore
    depends_on:
      - browserless-chrome
    networks:
      - changedetection
    privileged: false
    container_name: changedetection
    hostname: changedetection

networks:
  changedetection:
    name: changedetection

x-casaos:
  main: app
  architectures:
    - amd64
    - arm
    - arm64
  author: Mypancho.com
  category: Utility
  description:
    en_us: Use the service to monitor website pages for any changes, including price fluctuations and restock updates. We also offer advanced features like PDF text support, monitoring JSON and XML files, and comprehensive text triggers for more thorough analysis.
  developer: "Changedetection"
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/changedetection/icon.png
  index: /
  port_map: ${WEBUI_PORT:-5000}
  scheme: http
  tagline:
    en_us: Monitor website changes, prices, restock, PDF, JSON, XML.
  store_app_id: changedetection-Panchocloud
  title:
    en_us: Changedetection.io + Playwright
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/changedetection/screenshot-1.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/changedetection/screenshot-2.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/changedetection/screenshot-3.PNG
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/changedetection/thumbnail.png
