name: pairdrop
services:
  app:
    image: linuxserver/pairdrop:1.8.1
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      RATE_LIMIT: ''
      WS_FALLBACK: ''
      RTC_CONFIG: ''
      DEBUG_MODE: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: for UserID
        - container: PGID
          description:
            en_us: for GroupID
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: RATE_LIMIT
          description:
            en_us: Set to true to limit clients to 100 requests per 5 min
        - container: WS_FALLBACK
          description:
            en_us: Set to true to enable websocket fallback if the peer to peer WebRTC connection is not available to the client (see App Setup notes).
        - container: RTC_CONFIG
          description:
            en_us: Path to a json file containing custom STUN/TURN config (see App Setup notes)
        - container: DEBUG_MODE
          description:
            en_us: Set to true to debug the http server configuration by logging clients IP addresses used by PairDrop to STDOUT. See here for more info. Do not use in production!
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: PairDrop is a sublime alternative to AirDrop that works on all platforms. Send images, documents or text via peer to peer connection to devices in the same local network/Wi-Fi or to paired devices.
  tagline:
    en_us: Cross-platform peer-to-peer file transfer alternative to AirDrop.
  developer: Pairdrop teeam
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/pairdrop/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/pairdrop/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/pairdrop/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/pairdrop/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/pairdrop/thumbnail.png
  title:
    en_us: Pairdrop
  category: Utility