name: lychee
services:
  app:
    image: linuxserver/lychee:4.12.0
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      DB_CONNECTION: ''
      DB_HOST: ''
      DB_PORT: ''
      DB_USERNAME: ''
      DB_PASSWORD: ''
      DB_DATABASE: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: for UserID
        - container: PGID
          description:
            en_us: for GroupID
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: DB_CONNECTION
          description:
            en_us: for specifying the database type
        - container: DB_HOST
          description:
            en_us: for specifying the database host
        - container: DB_PORT
          description:
            en_us: for specifying the database port
        - container: DB_USERNAME
          description:
            en_us: for specifying the database user
        - container: DB_PASSWORD
          description:
            en_us: for specifying the database password
        - container: DB_DATABASE
          description:
            en_us: for specifying the database to be used
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
        - container: /pictures
          description:
            en_us: 'Container Path: /pictures'
      ports:
        - container: '80'
          description:
            en_us: 'Container Port: 80'
    ports:
      - target: 80
        published: 80
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/lychee/config
        target: /config
      - type: bind
        source: /DATA/AppData/lychee/pictures
        target: /pictures
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: 'A free photo-management tool, which runs on your server or web-space. Installing is a matter of seconds. Upload, manage and share photos like from a native application. Lychee comes with everything you need and all your photos are stored securely. ''WARNING Please note that the v4 upgrade process resets ALL password-protected albums. Any albums that were made public with a password will need to be re-secured.'
  tagline:
    en_us: Server-based photo management tool with secure storage options
  developer: Electerious
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/lychee/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/lychee/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/lychee/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/lychee/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/lychee/thumbnail.png
  title:
    en_us: Lychee
  category: Media
  project_url: https://lychee.electerious.com
  port_map: '80'
