name: mealie
services:
  app:
    image: hkotel/mealie:omni-nightly
    ports:
      - '3000:3000'
      - '9000:9000'
    volumes:
      - type: bind
        source: /DATA/AppData/mealie
        target: /app/data/
    environment:
      ALLOW_SIGNUP: true
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      BASE_URL: https://0.0.0.0
    restart: unless-stopped
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: Mealie is a self hosted recipe manager and meal planner with a RestAPI backend and a reactive frontend application built in Vue for a pleasant user experience for the whole family. Easily add recipes into your database by providing the url and mealie will automatically import the relevant data or add a family recipe with the UI editor.
  tagline:
    en_us: Mealie: Self-hosted recipe manager and meal planner tool.
  developer: hkotel
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/mealie/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/mealie/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/mealie/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/mealie/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/mealie/thumbnail.png
  title:
    en_us: Mealie
  category: Utility
  port_map: '3000'
