name: airsonic-advanced
services:
  app:
    image: linuxserver/airsonic-advanced:11.0.0
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      CONTEXT_PATH: ''
      JAVA_OPTS: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: for UserID
        - container: PGID
          description:
            en_us: for GroupID
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: CONTEXT_PATH
          description:
            en_us: For setting url-base in reverse proxy setups.
        - container: JAVA_OPTS
          description:
            en_us: For passing additional java options.
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
        - container: /music
          description:
            en_us: 'Container Path: /music'
        - container: /playlists
          description:
            en_us: 'Container Path: /playlists'
        - container: /podcasts
          description:
            en_us: 'Container Path: /podcasts'
        - container: /media
          description:
            en_us: 'Container Path: /media'
      ports:
        - container: '4040'
          description:
            en_us: 'Container Port: 4040'
    ports:
      - target: 4040
        published: 4040
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/airsonic-advanced/config
        target: /config
      - type: bind
        source: /DATA/AppData/airsonic-advanced/music
        target: /music
      - type: bind
        source: /DATA/AppData/airsonic-advanced/playlists
        target: /playlists
      - type: bind
        source: /DATA/AppData/airsonic-advanced/podcasts
        target: /podcasts
      - type: bind
        source: /DATA/AppData/airsonic-advanced/media
        target: /media
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: A web-based media streamer, freely accessible, offers widespread music accessibility. Share tunes with friends or enjoy personal playlists at work. Simultaneously stream to multiple devices, like your kitchen and living room players.
  tagline:
    en_us: Free web streamer for sharing music, multi-device streaming.
  developer: Airsonic-advanced
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/airsonic-advanced/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/airsonic-advanced/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/airsonic-advanced/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/airsonic-advanced/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/airsonic-advanced/thumbnail.png
  title:
    en_us: Airsonic advanced
  category: Media
  project_url: https://airsonic.github.io/
  port_map: '4040'
  index: /airsonic
