name: tautulli
services:
  tautulli:
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/London
    image: linuxserver/tautulli:2.13.1
    deploy:
      resources:
        reservations:
          memory: 64M
    network_mode: bridge
    ports:
      - target: 8181
        published: "8181"
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /config
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: ""
        - container: PGID
          description:
            en_us: ""
        - container: TZ
          description:
            en_us: ""
      ports:
        - container: "8181"
          description:
            en_us: ""
          protocol: ""
      volumes:
        - container: /config
          description:
            en_us: ""
    container_name: tautulli
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: tautulli
  author: Mypancho.com
  category: Media
  description:
    en_us: Tautulli is a 3rd party application that you can run alongside your Plex Media Server to monitor activity and track various statistics.
  developer: Tautulli Team
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Tautulli/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Tautulli/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Tautulli/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Tautulli/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/Tautulli/thumbnail.png
  tagline:
    en_us: Monitor your Plex Media Server and much more.
  tips: {}
  title:
    en_us: Tautulli
  index: /
  port_map: "8181"
