name: empire
services:
  empire:
    image: vuldocker/empire:5.6.3
    deploy:
      resources:
        limits:
          memory: 256M
    restart: unless-stopped
    ports:
      - 1337:1337
      - 5000:5000
    x-casaos:
      ports:
        - container: "1337"
          description:
            en_us: PowerShell Empire Web UI 
    container_name: empire
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: Mypancho.com
  category: Utility
  description:
    en_us: Empire is a post-exploitation and adversary emulation framework that is used to aid Red Teams and Penetration Testers.
  developer: BC-SECURITY
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/empire/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/empire/screenshot-1.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/empire/screenshot-2.PNG
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/empire/screenshot-3.PNG
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/empire/thumbnail.PNG  
  tagline:
    en_us:  Empire aids Red Teams and Penetration Testers during operations.
  index: /index.html
  scheme: http
  title:
    custom: empire
  port_map: "1337"