name: metube-youtubedl
services:
  app:
    image: alexta69/metube:2023-08-19
    restart: unless-stopped
    environment:
      UID: $PUID
      GID: $PGID
      DARK_MODE: true
    x-casaos:
      envs: []
    ports:
      - target: 8081
        published: 8081
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/downloads
        target: /downloads
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: Web GUI for youtube-dl with playlist support. Allows you to download videos from YouTube and dozens of other sites. 
  tagline:
    en_us: Web GUI for youtube-dl enabling video downloads across platforms.
  developer: alexta69
  author: Mypancho.com
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/metube-youtubedl/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/metube-youtubedl/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/metube-youtubedl/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/metube-youtubedl/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/metube-youtubedl/thumbnail.png
  title:
    en_us: Metube
  category: Media
  port_map: '8081'
