name: tailscale-derper
services:
  tailscale-derper:
    environment:
      DERP_ADDR: :3443
      DERP_CERT_MODE: manual
      DERP_DOMAIN: xxx.com
    image: fredliang/derper:latest
    container_name: tailscale-derper
    deploy:
      resources:
        reservations:
          memory: "32M"
    network_mode: bridge
    ports:
      - target: 3443
        published: "3443"
        protocol: tcp
      - target: 3478
        published: "3478"
        protocol: udp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/derper/certs
        target: /app/certs
x-casaos:
  architectures:
    - amd64
    - arm64
  author: Mypancho.com
  category: VPN
  description:
    en_us: Tailscale Derper is a lightweight utility that allows you to serve your own Tailscale relays for better performance and control over your network traffic. Configure your DERP server with ease and enhance your Tailscale VPN experience.
  developer: fredliang
  icon: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/tailscale-derper/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/tailscale-derper/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/tailscale-derper/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/tailscale-derper/screenshot-3.png
  thumbnail: https://cdn.jsdelivr.net/gh/mypancho/Pancho-Cloud-App-Store@main/Apps/tailscale-derper/thumbnail.png
  main: tailscale-derper
  store_app_id: tailscale-derper
  port_map: "3443"
  scheme: http
  tagline:
    en_us: Lightweight utility for self-serving Tailscale relays, enhancing network performance.
  tips:
    before_install:
      en_us: If your domain name is `xxx.com`, the certificate and private key files are named `xxx.com.crt`, `xxx.com.key` and are placed in the /certs directory. [Documentation](https://tailscale.com/kb/1118/custom-derp-servers/)
  title:
    en_us: Tailscale Derper